.jumbotron{
    background-image: url("virus-bacteria.png");
    background-size: 100% 100%;
}

.jumbotron h1{
    color: white;
    opacity: 1.0;
}

.jumbotron p{
    color: white;
    opacity: 1.0;
}

body{
    background-color: lightblue;
}

.col-md-5{
    background-color:lightskyblue;
}

